.hover-image-wrapper-center{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hover-image-up-wrapper .item{
    display: flex;
    flex-direction: column;
}
.hover-image-up-wrapper .item a{

    font-weight: 600;
    font-size: 1rem;

    text-decoration: none;
}

.hover-image-up-wrapper{
    /* width: 100%; */

    padding: 1rem;

    margin: auto;

    display: flex;
    align-items: center;
    gap: 30px;

    transform-style: preserve-3d;
    transform:  perspective(1000px);
}

.hover-image-up-wrapper .item{
    width: 140px;
    height: 200px;

  
    display: flex;
    align-items: center;
    justify-content: center;


    /* background: #000; */
    transition: .5s;
    filter: brightness(0);

    /* Affect */
    /* transform: translateZ(-1000px)  translateY(20px); */

    img{
        width: 100%;
        height: 100%;
    }
    svg{
        fill: #000;
    }
}
.item:hover{
    filter: brightness(1);
    transform: 
        translateZ(200px);

}
.item:hover + *{
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(40deg);
}
.item:hover + * + *{
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(20deg);
}
.item:hover + * + * + *{
    filter: brightness(0.2);
    transform: translateZ(30px) rotateY(10deg);
}

.hover-image-up-wrapper .item:has( + *:hover){
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(-40deg);
}
.hover-image-up-wrapper .item:has(+ * + *:hover){
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(-20deg);
}
.hover-image-up-wrapper .item:has(+ * + * + *:hover){
    filter: brightness(0.2);
    transform: translateZ(30px) rotateY(-10deg);
}