#showcase{
    margin-top: 8vh;
    width: 100%;
    height: 85%;
    /* padding: 0 4vw; */
    position: relative;
    margin-bottom: 8vh;
}

.elem{
    width: 90%;
    position: relative;
    list-style: none;
    font-size: 3.2vw;
    
    transition: 200ms;

    padding: 1.8vw 1vw;
    /* border-bottom: 2px solid #52b3a2; */
    margin-bottom: 8px;

    animation: changeTextColor .5s forwards;

    border-radius: 16px;
}
/* Elements next to hover elem  */
.elem:hover + *,
.elem:hover + * + *,
.elem:hover + * + * + *,
/* Elements before hover elem  */
.elem:has(+ *:hover),
.elem:has(+ * + *:hover),
.elem:has(+ * + * + *:hover){
    opacity: 0.3;
}
.elem a{
    transition: 200ms;
    color: #004b94;
    
}
@keyframes showLine {
    from{
        width: 0%;
        visibility: hidden;
    } 
    to{
        color: #fff;
        width: 100%;
        visibility: visible;
    }
    
}
@keyframes changeTextColor {
    to{
        color: rgb(255, 255, 255, 80%);
    }
}
.elem a:hover{
    border-radius: 16px;
    padding-left: 3vw;
    font-weight: 500;

    + img, + svg{
        display: none;
    }
}
.elem .hover-small-svg{
    scale: 1.4;
}
.elem svg, .elem img{
    fill: #000;
    pointer-events: none;
    z-index: 9999999999;
    opacity: 0;
    position: absolute;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);    
}
@media (max-width:980px) {
    .elem svg, .elem img{
        width: 150px;
        height: 150px;
    }
}
@media (max-width:480px) {
    .elem svg, .elem img{
        width: 60px;
        height: 60px;
        /* fill: blue; */
    }
}
