#minicircle{
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 99999;
}



#showcase{
    margin-top: 8vh;
    width: 100%;
    height: 85%;
    /* padding: 0 4vw; */
    position: relative;
    margin-bottom: 8vh;
}

.elem{
    width: 90%;
    position: relative;
    list-style: none;
    font-size: 3.2vw;
    
    padding: 1.8vw 0;
    border-bottom: 2px solid #52b3a2;

}
.elem a{
    transition: 200ms;
    color: #004b94;
}

.elem a:hover{
    animation: changeTextColor .5s forwards;
    font-size: 110%;
    font-weight: 500;

    + img, + svg{
        display: none;
    }
}
.elem a:after{
    content: "";
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    visibility: hidden;
    background: #000000;
    transition: 300ms ease-in-out;
}
@keyframes showLine {
    from{
        width: 0%;
        visibility: hidden;
    } 
    to{
        color: #fff;
        width: 100%;
        visibility: visible;
    }
    
}
@keyframes changeTextColor {
    to{
        color: #fff;
    }
}
.elem a:hover:after {
    animation: showLine .5s;
    width: 100%;
    visibility: visible;
}
.elem:nth-child(1){
    border-top: 2px solid #52b3a2;
}
.elem .hover-small-svg{
    scale: 1.4;
}
.elem svg, .elem img{
    fill: #000;
    pointer-events: none;
    z-index: 999999;
    opacity: 0;
    position: absolute;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);    
}
@media (max-width:980px) {
    .elem svg, .elem img{
        width: 150px;
        height: 150px;
    }
}
@media (max-width:480px) {
    .elem svg, .elem img{
        width: 60px;
        height: 60px;
        /* fill: blue; */
    }
}