.wrapper-infinite-scroll{
    margin-top: 4rem;

    width: 100%;
    /* height: fit-content; */
    /* min-height: 150px; */
    height: fit-content;
    height: 150px;
    /* max-height: 200px; */
    margin-inline: auto;

    position: relative;
}

/* .wrapper-infinite-scroll:nth-child(1){
    margin-top: 10rem; 
} 
*/

.infinite-scroll{
    width: 100%;
    height: 100%;
    /* padding: 1rem; */
    position: relative;
    overflow: hidden;

    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );
}
.scroll-item{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 5px;

    margin-top: 2rem;

    left: max(calc(200px * var(--quantity)), 100%);

    animation-name: infinite-scroll-left-animation;
    animation-duration: 10s;
    animation-timing-function: linear!important;
    animation-iteration-count: infinite!important;


    display: flex;
    align-items: center;
    justify-content: center;

    /* transition: 200ms ease-in; */
    /* transition: 200ms ease-in-out; */

    top: 0px;

    img,
    svg{
        /* padding: 0.5rem; */
        /* fill: black; */
        /* fill: black */
        /* size: 1fr; */
        width: 100px;
        height: 100px;
        width: fit-content;
        scale: 1;
        /* scale: max(1, 5); */
        transition: 400ms  ease-in-out;

    }
    .sm-svg{
        scale: 8;
    }
}
.infinite-scroll[reverse="true"] .scroll-item{
    animation-name: infinite-scroll-right-animation;
}
@keyframes infinite-scroll-left-animation {
    from{
        /* top: -50px; */
    }
    to{
        left: -200px;
    }
}
@keyframes infinite-scroll-right-animation {
    from{
        left: -200px;
        /* top: 50px; */
    }
    to{
        /* top: -50px; */
    }
}

.svg-red{
    fill: red

}
.python-svg{
    fill: linear-gradient(to bottom, yellow, blue);
}
.svg-blue{
    fill: blueviolet
}
.svg-yellow{
    fill: yellow;
}
.svg-bg-black{
    background: #000;
}
.scroll-item:hover{
    /* background-color: i; */
    svg{
        rotate: 360deg;
    }
    scale: 1.1;
    /* rotate: 20deg; */

}
.infinite-scroll:hover .scroll-item:not(:hover),
.infinite-scroll:not(:hover){
    opacity: 0.3;
}


